.maindiv{
    border: 2px solid gray;
    margin: 0px auto;
    width: 250px;
}
.input, .clearbtn{
    width: 94%;
    margin: 3px;
    height: 30px;
    background-color: gray;
    color: honeydew;
}
.clearbtn{
    width: 99% !important;
    margin: 1px !important;
    height: 20px !important;
}
.btn, .btnequal{
    background-color: gray;
    color: honeydew;
    width: 23%;
    margin: 1px;
    height: 30px;
}
.btnequal{
    width: 48% !important;
}
.name{
   
    margin-top: 20px;
    
}
div > h1{
    text-transform: capitalize;
    padding-left: 565px;
    font-size: medium;
    color:  gray;
}


@media screen and (max-width: 1300px){
    div > h1{
        padding-left: 565px;
    }
}
@media screen and (max-width: 1024px){
    div > h1{
        padding-left: 400px;
    }
}
/* @media screen and (max-width: 1024px){
    div > h1{
        padding-left: 390px;
    }
} */
@media screen and (max-width: 768px){
    div > h1{
        padding-left: 270px;
    }
}
@media screen and (max-width: 425px){
    div > h1{
        padding-left: 100px;
    }
}
@media screen and (max-width: 375px){
    div > h1{
        padding-left: 70px;
        
    }
    .btn{
        width: 20% !important;
    }
}
@media screen and (max-width: 320px){
    div > h1{
        padding-left: 50px;
    }
    .btn{
        width: 20% !important;
    }
}